

fastapi==0.110.1
uvicorn[standard]==0.29.0



langchain==0.1.14
langchain-core==0.1.41
langchain-openai==0.1.6
sentence-transformers==2.7.0  # For generating local embeddings



pypdf==4.2.0           # For processing PDF files
pytesseract==0.3.10    # If OCR is needed for images in docs
python-docx==1.1.0     # For processing Word documents



chromadb==0.4.24

Utilities

python-dotenv==1.0.1
boto3==1.34.81 # To fetch files from MinIO/S3